// Colors on page
$main-background: #E4E5E7;
$button-background: #696969;
$main-font-color: #ffffff;
$border-color: #000000;
$shadow-color: #FFD700;
$average-color: #1a191f;
$average-color-green: green;
$average-color-red: red;
$average-color-orange: orange;
$background-modal-window: rgba(0, 0, 0, 0.5);

// Fonts
$font-main: 'Roboto', sans-serif;